.main {
    position: relative;
    margin-left: 200px;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out; 
    z-index: 10000;
    background-color: white;
  }
  
  .main-open {
    margin-left: 80px;
    z-index: 10000;
    top: 0;
    background-color: white;
  }
  
  .main-collapsed {
    margin-left: 180px;
    z-index: 10000;
    background-color: white;
  }
 @media screen and (max-width:768px) {
    .main {
        position: relative;
        margin-left: 150px;
        overflow-y: auto;
      }
    .main-open {
        margin-left: 25px;
      }
      
      .main-collapsed {
        margin-left: 150px;
      }
 }